* {
    margin: 0;
    padding: 0;
    
}
html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.mozilla-container {
    width: 60vw;
    height: 60vh;
    border: 0.01rem solid black;
    box-shadow: 0.2rem 0.1rem 1rem 0.1rem #000;    
}

.mozilla-header {
    width: 100%;
    height: 15%;
}
.header-tabs {
    width: 100%;
    height: 60%;
    background-color: rgb(212, 212, 212);
}
.header-browser {
    width: 100%;
    height: 40%;
    background-color: rgb(248, 246, 246);
    border-top: 0.1rem solid grey;    
}
.mozilla-body {
    width: 100%;
    height: 85%;
    background-color: #fff;
    border-top: 0.1rem solid grey;
}
.mozilla-body-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mozilla-body-header li {
    list-style: none;
    display: inline;
    font-size: 1.4rem;
    margin: 0.6rem;
}
.mozilla-body-header li button {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    padding: 0.9rem;
}
.mozilla-body-body {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.body-body-content {
    width: 50%;
    height: 20%;
    padding-left: 20rem;
}
.mozilla-body-body img {
    width: 50%;
}

.mozilla-body-body input {
    width: 80%;
}
li {
    list-style: none;
}
.mozilla-body-footer {
    width: 100%;
    height: 15%;
    font-size: 1.4rem;
    background-color: rgb(241, 241, 241);
}
.body-footer-top {
    width: 100%;
    height: 50%;
    border-bottom: 0.1rem solid rgb(214, 208, 208);
    display: flex;
    align-items: center;
}
.body-footer-top p {
    margin-left: 4rem;
}
.body-footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.body-footer-bottom ul li {
    display: inline;
    margin: 2rem;
}